@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.divHeadar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}
.headarText {
    font-family: 'Roboto', sans-serif
}